<h1> Create Contact </h1>
<%= form_for [@contact] do |f| %>
      <%= f.label :prename %>
      <%= f.text_field :prename %>
      <br>
      <%= f.label :surnamen %>
      <%= f.text_area :surnamen %>
      <br>
      <%= f.submit 'Save' %>
<%end%>


<% (97..122).each do |i| %>
	<%letter = i.chr%>
	<%=link_to(letter, contact_path(letter)) %>
<% end %>